<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Recolhível</title>
    <link rel="stylesheet" href="style.css">
  
</head>
<body>

    <!-- Botão para abrir e fechar o menu -->
    <button class="menu-btn" id="menuToggle">&#9776;</button>

    <!-- Menu lateral -->
    <div class="menu" id="myMenu">
        <div class="container-div">
            <div class="sub-div1">
                <img src="imagens/botao_instagram.png" alt="Instagram" class="icon-img">
                <img src="imagens/botao_youtube.png" alt="YouTube" class="icon-img">
            </div>
            <div class="sub-div2">
                <img src="imagens/Logo_SítioAcalanto.png" alt="Imagem Central" class="center-img">
            </div>
        </div>
        <div class="linha-abaixo"></div>
        <div class="menu-lista">
            <ul>
                <li>HOME</li>
                <li>SOBRE</li>
                <li>EROSÃO</li>
                <li>NDVI</li>
                <li>NDWI</li>
                <li>EVI</li>
                <li>MODELO 3D</li>
                <li>USO CIBERS 4A</li>
                <li>GALERIA DE FOTOS</li>
                <li>DESENVOLVEDORES</li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header class="main-header">
            <h1>WEBSIG SÍTIO ACALANTO: MAPEANDO PRÁTICAS E TERRITÓRIOS</h1>
        </header>
        <iframe 
            src="HOME/index.html" 
            class="iframe-apresentacao"
            frameborder="0"
            allowfullscreen>
        </iframe>
    </div>

    <script src="script.js"></script>

 </body>
</html>
