<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <header class="cabecalho" id="cabecalho">
        <div class="cabecalho-container">
            <img src="Imagem/Logo_Sitio.png" alt="Logo do Sítio" class="logo-img">

            <div class="botao">
                <div class="link-div" onclick="atualizarIframe('CafeAcaua/index.html', 'SÍTIO ECOLÓGICO: CAFÉ ACUAÊ')">
                    <p class="til-botao">Café Acauê</p>
                </div>
                <div class="link-div" onclick="atualizarIframe('pagina2.html', 'SÍTIO ECOLÓGICO: CAFÉ AGROFLORESTAL')">
                    <p class="til-botao">Café Agroflorestal</p>
                </div>
                <div class="link-div" onclick="atualizarIframe('pagina3.html', 'SÍTIO ECOLÓGICO: CAFÉ ASA BRANCA')">
                    <p class="til-botao">Café Asa Branca</p>
                </div>
                <div class="link-div" onclick="atualizarIframe('pagina4.html', 'SÍTIO ECOLÓGICO: CAFÉ SIRIEMA')">
                    <p class="til-botao">Café Siriema</p>
                </div>
                <div class="link-div" onclick="atualizarIframe('pagina5.html', 'SÍTIO ECOLÓGICO: CAFÉ ARARA')">
                    <p class="til-botao">Café Arara</p>
                </div>
                <div class="link-div" onclick="atualizarIframe('pagina6.html', 'SÍTIO ECOLÓGICO: CAFÉ GUARÁ')">
                    <p class="til-botao">Café Guará</p>
                </div>

                <div class="link-div" onclick="atualizarIframe('pagina6.html', 'SÍTIO ECOLÓGICO: CAFÉ GUARÁ')">
                    <p class="til-botao">Desenvolvedores</p>
                </div>

                </div>

            </div>
            
        </div>
    </header>
    <button class="openbtn" onclick="toggleNav()">☰</button>

     <!-- ✅ Menu lateral COM A GALERIA -->
    <div id="mySidebar" class="sidebar">
        <!-- ✅ Botões dentro do menu lateral (somente mobile) -->
        <div class="botao-menu-mobile">

            <div class="link-div-mobile" onclick="atualizarIframe('CafeAcaua/index.html')">
                <p class="til-botao">Café Acauê</p>
            </div>

            <div class="link-div-mobile" onclick="atualizarIframe('pagina2.html')">
                <p class="til-botao">Café Agroflorestal</p>
            </div>

            <div class="link-div-mobile" onclick="atualizarIframe('pagina3.html')">
                <p class="til-botao">Café Asa Branca</p>
            </div>

            <div class="link-div-mobile" onclick="atualizarIframe('pagina4.html')">
                <p class="til-botao">Café Siriema</p>
            </div>

            <div class="link-div-mobile" onclick="atualizarIframe('pagina5.html')">
                <p class="til-botao">Café Arara</p>
            </div>

            <div class="link-div-mobile" onclick="atualizarIframe('pagina6.html')">
                <p class="til-botao">Café Guará</p>
            </div>

            <div class="link-div-mobile" onclick="atualizarIframe('pagina6.html')">
                <p class="til-botao">Café Guará</p>
            </div>

            <div class="link-div-mobile" onclick="abrirGaleriaMobile()">
                <p class="til-botao">Galeria</p>
            </div>

            <div class="link-div-mobile" onclick="abrirGaleriaMobile()">
                <p class="til-botao">Desenvolvedores</p>
            </div>

        </div>

        <div class="gallery-container">
            <button class="btn-voltar-galeria" onclick="voltarMenu()">
                ⟵ Voltar
            </button>

            <button onclick="scrollUp()" class="scroll-btn">
                <img src="Imagem/Seta.png" alt="Up">
            </button>

            <div class="gallery">
                <img loading="lazy" src="Galeria/1.jpg">
                <img loading="lazy" src="Galeria/2.jpg">
                <img loading="lazy" src="Galeria/3.jpg">
                <img loading="lazy" src="Galeria/4.jpg">
                <img loading="lazy" src="Galeria/5.jpg">
                <img loading="lazy" src="Galeria/6.jpg">
                <img loading="lazy" src="Galeria/7.jpg">
                <img loading="lazy" src="Galeria/8.jpg">
                <img loading="lazy" src="Galeria/9.jpg">
                <img loading="lazy" src="Galeria/10.jpg">
                <img loading="lazy" src="Galeria/11.jpg">
            </div>

            <button onclick="scrollDown()" class="scroll-btn-baixo">
                <img src="Imagem/Seta_baixo.png" alt="Down">
            </button>
        </div>
        
    </div>

    <div id="main">
        <div id="map"></div>
        <!-- Conteúdo principal -->
    </div>

    <script src="script.js"></script>


