<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="apresentacao-central">
        <div class="slide">
            <img src="imagens/mapa-erosao.png" alt="Mapa de Erosão" class="slide-img">
            <div class="slide-info">
                <div>
                    <span class="slide-titulo">MAPA DE EROSÃO</span><br>
                    <span class="slide-subtitulo">Identificação das áreas mais suscetíveis à degradação do solo</span>
                </div>
            </div>
            <button class="slide-btn prev">&#10094;</button>
            <button class="slide-btn next">&#10095;</button>
            <div class="slide-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <!-- Adicione mais dots conforme o número de slides -->
            </div>
        </div>
    </div>

</body>
</html>