<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home - Mapas</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Escolha um Mapa</h1>

    <div class="cards">
      <!-- Limite de Jacareí -->
      <div class="card">
        <img src="img/limite.png" alt="Limite de Jacareí">
        <h2>Limite de Jacareí</h2>
        <a href="https://geowebsig.shop/LimiteMunicipal/" class="botao">Abrir</a>
      </div>

      <!-- Assentamento PA Egídio Brunetto -->
      <div class="card">
        <img src="img/assentamento.png" alt="Assentamento PA Egídio Brunetto">
        <h2>PA Egídio Brunetto</h2>
        <a href="https://geowebsig.shop/Assentamentopaegidiobrunetto/" class="botao">Abrir</a>
      </div>
    </div>
  </div>
</body>
</html>
